@import "tailwindcss";

@theme {
    --color-primary: #0f172a;
    --color-accent: #38bdf8;
    --color-bg-dark: #020617;
    --color-sidebar: #1e293b;
    --font-outfit: "Outfit", sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}